* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

header {
    background-color: #FFFFFF;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
    text-decoration: none;
}

nav section ul li a {
    text-decoration: none;
    color: #575757;
    font-weight: 500;
}

#register-btn {
    padding: 10px 28px;
    border-radius: 5px;
    text-decoration: none;
    gap: 12px;
    background-color: #1D4ED8;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
